body{
	font-family: Raleway;
	margin: 0 0 0 0;
	color: #fff;
	background-color: #1A3742;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: repeat-y;
	overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    background: #1a3742;
}
::-webkit-scrollbar-thumb {
    background: #5D6D63;
}

section{
	margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    position: relative;
}

#main{
	background-image: url(../images/bg_portfolio_greybrick.jpg);
	background-size: cover;
	background-position: top center;
	height: 760px;
	width: 100%;
	bottom: 0;
}

/*side nav =========================================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A3742;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#nav-icon{
	/*padding-top: 5%;*/
	font-size: 30px;
	/*padding-left: 5%;*/
}

#content{
	font-family: Raleway;
	position: absolute;
    width: 650px;
    height: 620px;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: -250px;
    text-align: center;
    color: #fff;
}

#content > h1{
	text-align: center;
	font-family: Raleway;
	color: #fff;
	font-weight: normal;
	font-size: 75px;
	letter-spacing: 3px;
}
#content > p{
	text-align: center;
    color: #E6E0CB;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#header{
	display: flex;
	justify-content: space-between;

}
#resume{
	padding-top: 5%;
	padding-right: 5%;
	color: white;
}
#resume > a{
	color: white;
	text-decoration : none;
	font-size: 30px;
}

/*profile list *************************************/

#profiles{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 100px;
	padding-bottom: 5%;
}

nav{
	height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    padding: 0px;
    padding-top: 5%;
    text-align: center;
}
#nav-links{
	list-style: none;
	display: flex;
	justify-content: space-between;
	border-top:  1px solid #E6E0CB;
	text-align: center;
}
#nav-links > li {
	display: inline-block;
    margin-right: 40px;
    padding-bottom: 0px;
}


#nav-links > li >  a{
	text-decoration : none;
	font-size: 20px;
	display: block;
    color: #fff8e1;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 0px;
    border-top: 2px solid transparent;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
#nav-links > li >  a:hover{
	border-top: 2px solid #fff; 
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff8e1;
}


/*skillset =============================================================*/

#skillset{
	background-color: #1A3742;
	background-image: url(http://pierre.io/img/bg_blue.png);
	background-size: cover;
	padding-top: 5%;
	height: auto;
	background-repeat: no-repeat;
	height: 1200px;
	text-align: center;
	/*width: 600px;*/
}
.my-info-details{
	/*max-width: 600px;*/
	margin : 0 auto;
	text-align: center;
}
.my-info-details > h2{
	font-size: 50px;
	font-weight: normal;
}
.my-info-details{
	font-size: 1.3em;
	line-height: 1.5;
}

#skills{
	max-width: 600px;
	margin : 0 auto;
	text-align: center;
}
#projects{
	max-width: 600px;
	margin : 0 auto;
	margin-top: 40px;
	text-align: center;
}

/*#skills > h2{
	font-size: 50px;
	font-weight: normal;
}
#skills > p{
	font-size: 1.3em;
	line-height: 1.5;
	
}*/
#contact{
	margin-top: 90px;
}
#contact > img{
	/*position: relative;*/
	max-width: 90%;
}
#contact > h2{
	position: absolute;
	left : 45%;
	font-size: 50px;
	z-index: 999;
}
#contact > p{
	position: absolute;
	left : 35%;
	font-size: 25px;
	z-index: 999;
}


/*responsive ====================================================*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
	{
/* Styles */

	#main{
		height : 1800px;
	}
	#content{
		height: 1200px;
    	left: 50%;
    	top: 50%;
    	margin-top: -500px;
	}

	#content > p{
		font-size: 3.1em;
	    padding-bottom: 1.5em;
	    padding-top: 1.5em;
	}
	#content > h1{
		font-size : 100px;
	}
	#profiles > li > a > img{
		width : 150%;
		/*padding-left: 30%;*/
	}
	#resume > a{
		font-size: 3.1em;
	}
	#nav-icon{
		font-size : 50px;
	}
	.sidenav a{
		font-size: 40px;
	}
	.sidenav > .closebtn{
		/*padding-bottom: 5%;*/
		font-size: 60px;
	}
	.my-info-details > h2{
		font-size: 75px;
	}
	.my-info-details{
		font-size: 2.8em;
	}
	#contact > h2{
		left: 40%;
	}
	#contact > p{
		left : 25%;
	}

}

